x-slide {
  background: #99CCCC;
  background-image: url("/img/bg_pattern.gif");
  padding: 1em;
}

ul#index-list {
  width: 100%;
}

ul#index-list li {
  list-style: none;
  background: blue;
  margin: 1px;
  padding: 1em;
}


